* {
  margin: 0;
  padding: 0;
}
header {
  height: 250px;
  width: 100%;
}
.main {
  text-align: center;
  padding: 15px;
  background-color: yellow;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  border: 5px solid black;
}
.result {
  height: 70px;
  width: 70px;
  background-color: white;
  border: 5px solid black;
  text-align: center;
  color: black;
  line-height: 65px;
  font-weight: 700;
  font-size: 25px;
  margin: 30px auto;
}
